<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Expresso</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@500&family=Sacramento&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="font-family: 'Sacramento', cursive; color:red;font-size:35px">
          <img src="IMAGES/LOGO1.jpg" alt="" width="92" height="72">     Expresso</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 --><form class="form-inline">
          <li id="home"><a href="/home">HOME</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <li><a href="/">❌</a></li>
        </form>
        </ul>
    </div>
  </nav>
  <body>
    <div class="container">
